.Home .allCards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
@media screen and (max-width:767px) {
    .Home .allCards{
        width: 95%;
        margin: auto;
    }
    
}